{% extends 'core/parent.html' %}
{% load static %}
{% block content %}
<div class=" container mt-4">
    <h1 class="text-warning border-bottom border-danger mb-5">SERVICES</h1>
    #row 1
    <div class="row text-white ">
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-searchengin fa-2x mb-3 icolor"></i>
            <h3>SEO</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti quibusdam illum non totam?</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-palette fa-2x mb-3 icolor"></i>
            <h3>Web Design</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti quibusdam illum non totam?</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-code fa-2x mb-3 icolor"></i>
            <h3>Web Development</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicora nulla deleniti quibusdam illum non totam?</p>
        </div>
    </div>
#row2
    <div class="row text-white ">
        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-android mb-3 icolor fa-2x"></i>
            <h3>Android</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti </p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-brands fa-apple mb-3 icolor fa-2x"></i>
            <h3>IOS</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti quibusdam illum non totam?</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-rectangle-ad mb-3 icolor fa-2x"></i>
            <h3>Advertising</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempquibusdam illum non totam?</p>
        </div>
    </div>

    #row3
    <div class="row text-white ">
        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-blog mb-3 icolor fa-2x"></i>
            <h3>Logo Design</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-server mb-3 icolor fa-2x"></i>
            <h3>Hosting</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti quibusdam illum non totam?</p>
        </div>

        <div class="col-sm-4 text-center">
            <i class="fa-solid fa-phone mb-3 icolor fa-2x"></i>
            <h3>Support</h3>
            <p class="ss">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla deleniti quibusda</p>
        </div>
    </div>
</div>


{% endblock content %}